name: Build and Push Docker Image

on:
  push:
    branches: [ "main" ]

jobs:
  build-push:
    runs-on: ubuntu-latest

    steps:
      # 1. Download your code
      - name: Checkout Code
        uses: actions/checkout@v3

      # 2. Login to Docker Hub using the secrets you added
      - name: Login to Docker Hub
        uses: docker/login-action@v2
        with:
          username: ${{ secrets.DOCKER_USERNAME }}
          password: ${{ secrets.DOCKER_PASSWORD }}

      # 3. Setup Docker Buildx (A tool to make builds faster/smarter)
      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v2

      # 4. Build the image and Push it!
      - name: Build and push
        uses: docker/build-push-action@v4
        with:
          context: .
          file: ./Dockerfile
          push: true
          # Replace 'your_dockerhub_username' with your ACTUAL username below:
          tags: ${{ secrets.DOCKER_USERNAME }}/todo-app:latest
